#rectangle {
    width: 40vw;
    height: 10vw;
    display: block;
    margin: auto;
    margin-top: 50vh;
    border: 5px solid rgb(219, 145, 7);
    overflow: hidden;
}

#square {
    width: 10vw;
    height: 10vw;
    display: block;
    background-color: rgb(219, 145, 7);
    border: 5px solid rgb(219, 145, 7);
    animation: slide 2s linear 2s infinite;
}

@keyframes slide {
    from {
        margin-left: -25%;
    }
    to {
        margin-left: 120%;
    }
}